#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.input-field {
  margin-bottom: 0.8em;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}